<div class="cshow">
    <div class="saol">
        <div class="spaltnr"><span class="tryck">tryckår: 2015 &nbsp; </span></div>
        <div class="article">
            <span class="kt">skåp</span>
            <div class="lemma" id="lnr84847">
                <span class="grundform">skåp</span>
                <a class="ordklass">substantiv</a>
                <span class="bojning">~et<span class="bt">; </span><span class="pt">pl. </span>~ </span><span class="lexem"></span><span class="expansion" onclick="jQuery(this).toggleClass('collapsed')"></span>
                <table class="tabell" id="bojning84847">
                    <tr>
                        <th class="ordformth" colspan="2"><i>Singular</i></th>
                    </tr>
                    <tr>
                        <td class="ordform"><i>ett</i> <b><span class="bform">skåp</span></b></td>
                        <td class="ledtext">obestämd form</td>
                    </tr>
                    <tr>
                        <td class="ordform"><i>ett</i> <b><span class="bform">skåps</span></b></td>
                        <td class="ledtext">obestämd form genitiv</td>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåpet</span></b></td>
                        <td class="ledtext">bestämd form</td>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåpets</span></b></td>
                        <td class="ledtext">bestämd form genitiv</td>
                    </tr>
                    <tr>
                        <th class="ordformth" colspan="2"><i>Plural</i></th>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåp</span></b></td>
                        <td class="ledtext">obestämd form</td>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåps</span></b></td>
                        <td class="ledtext">obestämd form genitiv</td>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåpen</span></b></td>
                        <td class="ledtext">bestämd form</td>
                    </tr>
                    <tr>
                        <td class="ordform"><b><span class="bform">skåpens</span></b></td>
                        <td class="ledtext">bestämd form genitiv</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="prediv"><span class="pback"> </span> <span class="pahead"><a href="/saol/?id=2762773&pz=7" onClick="tracklink('panel','tabb','/saol/?id=2762773&pz=7'); return false;">Till SAOL</a></span></div>
<script type="text/javascript">
    jQuery(function() {
        checkAndHandleWebViewHeight();
    });
</script>